.calculator {
	background: url('../img/calculator/bg.png') center no-repeat;
	background-size: 1920px auto;
	min-height: 2290px;
	&__title {
		padding-top: 130px;
	}
	&__subtitle {
		margin-top: 20px;
		margin-bottom: 60px;
		font-size: 30px;
		line-height: 40px;
		font-weight: normal;
	}
	&__slider {
		&-wrapper {
			position: relative;
			margin-bottom: 50px;
			width: 1080px;
			height: 212px;
			&::before {
				position: absolute;
				content:'';
				background: url('../img/calculator/lines.png') center no-repeat;
				width: 430px;
				height: 212px;
				left: -430px;
				top: 0;
			}
			&::after {
				position: absolute;
				content:'';
				background: url('../img/calculator/lines-r.png') center no-repeat;
				width: 430px;
				height: 212px;
				right: -430px;
				top: 0;
			}
			& p {
				width: 235px;
				margin-bottom: 0;
				padding-left: 40px;
				font-size: 20px;
				line-height: 24px;
				font-weight: bold;
			}
		}
		display: flex;
		justify-content: space-around;
		align-items: flex-start;
		margin-top: 30px;
		font-size: 40px;
		font-weight: 900;
		&-item {
			cursor: pointer;
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 72px;
			height: 72px;
			&:hover {
				&::before, &::after {
					position: absolute;
					content:'';
					width: 0;
					height: 0;
					border: 11px solid transparent;
				}
				&::before {
					top: -6px;
					left: 24px;
					border-top-color: #343434;
					border-bottom: 0;
				}
				&::after {
					bottom: -5px;
					left: 24px;
					border-bottom-color: #343434;
					border-top: 0;
				}
			}
		}
	}
	&__item--active {
		background-image: linear-gradient(90deg, #ff5858, #f09819);
		border-radius: 18px;
		color: #fff;
	}
	&__table {
		display: flex;
		& li {
			height: 100px;
		}
		& h4 {
			margin: 0;
			font-size: 28px;
			line-height: 32px;
			font-weight: 800;
		}
		& h5 {
			display: inline;
			margin: 0;
			font-size: 20px;
			line-height: 20px;
			font-weight: bold;
		}
		&-names {
			padding-top: 25px;
			padding-bottom: 25px;
			width: 435px;
			& li {
				display: flex;
				align-items: center;
			}
		}
		&-tarif {
			width: 175px;
			padding: 25px;
			border: 1px solid transparent;
			&:hover {
				border: 1px solid #ddd3c3;
				border-radius: 18px;
			}
			& li {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				}
			& p {
				margin-top: 6px;
				margin-bottom: 40px;
				font-size: 12px;
				line-height: 14px;
				font-weight: 700;
			}
		}
		&-header {
			justify-content: flex-start !important;
			align-items: flex-start !important;
			height: 110px !important;
			margin-bottom: 20px;
		}
	}
	&__button {
		&-wrapper {
			min-height: 280px;
		}
		display: flex;
		align-items: center;
		padding: 12px 20px;
		margin-top: 46px;
		width: 400px;
		border-radius: 18px;
		font-size: 15px;
		line-height: 20px;
		text-transform: none;
		font-weight: 500;
		& p {
			margin: 0;
		}
		&-sign {
			display: flex;
			justify-content: space-around;
			align-items: center;
			margin-right: 25px;
			margin-left: 10px;
			width: 44px;
			height: 44px;
			border-radius: 50%;
			font-size: 38px;
			background-color: #fff;
			color: #ff5858;
		}
		&--active {
			display: flex;
			align-items: center;
			padding: 12px 20px;
			margin-top: 46px;
			margin-right: -30px;
			background-color: #343434;
			width: 450px;
			border-radius: 18px;
			font-size: 15px;
			line-height: 20px;
			text-transform: none;
			font-weight: 500;
			color: #fff;
			& p {
				margin: 0;
			}
		}
	}
	&__extra {
		&-wrapper {
			display: flex;
			align-items: flex-start;
		}
		display: flex;
		margin-top: 46px;
		padding: 0 60px;
		width: 686px;
		background-color: #343434;
		border-radius: 18px;
		font-size: 15px;
		line-height: 20px;
		color: #fff;
		&-name {
			padding-right: 60px;
			width: 400px;
		}
		&-price {
			width: 130px;
		}
		& li {
			height: 35px;
		}
	}
	&__result {
		width: 750px;
		margin: 0 auto;
		& h4 {
			margin-top: 0;
			margin-bottom: 30px;
			font-size: 28px;
			line-height: 32px;
			font-weight: 800;
		}
		&-wrapper {
			display: flex;
		}
	}
	&__form {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-right: 35px;
		width: 310px;
		& input {
			margin-bottom: 6px;
			padding: 13px 25px;
			width: 250px;
			font-size: 18px;
			line-height: 20px;
			color: #343434;
			border: 1px solid #ff5858;
			border-radius: 5px;
			&::placeholder {
				font-size: 14px;
				font-style: italic;
			}
		}
		&-button {
			margin-top: 30px;
			border: none;
		}
	}
	&__discount {
		display: flex;
		width: 400px;
		&-slider {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-top: 56px;
			margin-left: 30px;
			padding-right: 90px;
			padding-left: 26px;
			width: 90px;
			font-size: 40px;
			line-height: 44px;
			font-weight: 800;
			&::before {
				position: absolute;
				content:'';
				width: 130px;
				height: 130px;
				top: -44px;
				left: 0;
				border: 1px solid #f09819;
				transform: rotate(45deg);
			}
			&::after {
				position: absolute;
				content:'';
				width: 104px;
				height: 51px;
				bottom: 100px;
				left: -65px;
				background: url('../img/calculator/arrow.png') center no-repeat;
			}
		}
		&-text {
			& h5 {
				margin-bottom: 0;
				width: 150px;
				font-size: 20px;
				font-weight: 800;
				line-height: 24px;
			}
		}
	}
}
#discount-carousel .owl-nav button.owl-prev {
	position: absolute;
	content: '';
	top: -2px;
	left: -31px;
	width: 29px;
	height: 48px;
	background: url('../img/calculator/left.png') center no-repeat;
}
#discount-carousel .owl-nav button.owl-next {
	position: absolute;
	top: -2px;
	right: 41px;
	width: 29px;
	height: 48px;
	background: url('../img/calculator/right.png') center no-repeat;
}