.docs {
	background: url('../img/docs/bg.png') center no-repeat;
	background-size: 1920px auto;
	min-height: 788px;
	&__title {
		margin: 0;
		margin-bottom: 60px;
		padding-top: 130px;
	}
	&__slider {
		margin: 0 auto;
		width: 970px;
	}
	&__slide {
		width: 311px;
		height: 421px;
	}
}
#docs-carousel .owl-nav button.owl-prev {
	position: absolute;
	content: '';
	top: 50%;
	margin-top: -65px;
	left: -80px;
	width: 81px;
	height: 77px;
	background: url('../img/icons/left.png') center no-repeat;
}
#docs-carousel .owl-nav button.owl-next {
	position: absolute;
	top: 50%;
	margin-top: -65px;
	right: -80px;
	width: 81px;
	height: 77px;
	background: url('../img/icons/right.png') center no-repeat;
}