body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #343434;
}
	
a {
 text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

ul {
  list-style: none;
  padding-left: 0;
}
.section-title {
  margin: 0;
  font-size: 40px;
  line-height: 52px;
  font-weight: 800;
}


.button {
  display: inline-block;
  cursor: pointer;
  padding: 16px 50px;
  background-image: linear-gradient(90deg, #ff5858, #f09819);
  border-radius: 30px;
  font-size: 14px;
  line-height: 15px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  &:hover {
    transition: all 0.4s;
  }
}
.button-o {
  padding: 13px 22px;
  background-image: none;
  background-color: transparent;
  border: 2px solid #ff7639;
  font-weight: 700;
  color: #ff7639;
}
.container {
  margin: 0 auto;
  padding: 0 0;
  width: 1140px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path:inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}