.partners {
	&__title {
		margin-top: 115px;
		margin-bottom: 60px;
	}
	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;
		margin: 0;
	}
	&__item {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 50px;
		width: 290px;
		height: 160px;
	}
	&__button {
		display: flex;
		justify-content: center;
		margin-bottom: 106px;
		& a {
			padding-left: 30px;
			padding-right: 30px;
			border-radius: 30px;
		}
	}
}
.exceptions {
	background: url('../img/partners/exceptions-bg.png') center no-repeat;
	background-size: 1920px auto;
	min-height: 575px;
	&__title {
		padding-top: 120px;
		margin-bottom: 100px;
		& span {
			color: #e30000;
		}
	}
	&__list {
		display: flex;
		justify-content: space-around;
		align-items: flex-start;
	}
	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 255px;		
		&-img {
			margin-bottom: 20px;
		}
		&-text {
			text-align: center;
		}
	}
}