body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #343434;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding-left: 0;
}

.section-title {
  margin: 0;
  font-size: 40px;
  line-height: 52px;
  font-weight: 800;
}

.button {
  display: inline-block;
  cursor: pointer;
  padding: 16px 50px;
  background-image: linear-gradient(90deg, #ff5858, #f09819);
  border-radius: 30px;
  font-size: 14px;
  line-height: 15px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}

.button:hover {
  transition: all 0.4s;
}

.button-o {
  padding: 13px 22px;
  background-image: none;
  background-color: transparent;
  border: 2px solid #ff7639;
  font-weight: 700;
  color: #ff7639;
}

.container {
  margin: 0 auto;
  padding: 0 0;
  width: 1140px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  background: url("../img/header/header-bg.png") left top no-repeat;
  background-size: auto 90%;
}

.header-top__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 16px;
  padding-bottom: 70px;
}

.header-top__logo {
  display: flex;
  align-items: flex-start;
}

.header-top__text {
  width: 225px;
}

.header-top__text h1 {
  margin: 6px;
  font-size: 14px;
  font-weight: bold;
  color: #dc6530;
}

.header-top__text p {
  margin: 0;
  font-size: 10px;
  line-height: 12px;
}

.header-top__info {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 530px;
  font-size: 14px;
}

.header-top__info img {
  margin-right: 8px;
  margin-left: 8px;
}

.header-top__work {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-top__phone {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-top__button {
  text-transform: none;
}

.header-bottom {
  background: url("../img/header/men.png") 800px top no-repeat;
  background-size: 576px auto;
  margin: 0 auto;
  padding-bottom: 180px;
  width: 98%;
}

.header-bottom__wrapper {
  width: 765px;
}

.header-bottom__wrapper h2 {
  padding-top: 46px;
}

.header-bottom__wrapper p {
  width: 490px;
}

.header-bottom__buttons {
  display: flex;
  margin-top: 100px;
}

.header-bottom__button-left {
  padding-left: 24px;
  padding-right: 20px;
}

.header-bottom__button-right a {
  padding-top: 14px;
}

.header-bottom__action {
  padding-left: 24px;
  font-size: 14px;
  line-height: 19px;
}

.header-bottom__action span {
  position: relative;
  font-weight: 900;
  color: #ff7639;
}

.header-bottom__action span::before {
  position: absolute;
  content: '';
  width: 20px;
  height: 63px;
  top: -52px;
  left: -22px;
  background: url("../img/header/arrow.png") center no-repeat;
}

.features h2 {
  margin-bottom: 110px;
}

.features__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-left: 0;
}

.features__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 32%;
}

.features__item-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 176px;
}

.features__item h3 {
  margin: 0;
  font-size: 30px;
  font-weight: normal;
  line-height: 36px;
}

.about {
  min-height: 980px;
  background: url("../img/about/about-bg.png") center no-repeat;
  background-size: 1920px auto;
}

.about h2 {
  padding-top: 180px;
  padding-bottom: 70px;
}

.about ul {
  list-style: none;
  padding-left: 75px;
}

.about li {
  position: relative;
  line-height: 40px;
}

.about li::before {
  position: absolute;
  content: '';
  width: 8px;
  height: 8px;
  left: -18px;
  top: 15px;
  background-image: linear-gradient(90deg, #ff5858, #f09819);
  transform: rotate(45deg);
}

.about__wrapper-left {
  width: 60%;
}

.about__wrapper-right {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.about__list-wrapper {
  display: flex;
}

.about__list-title {
  margin-bottom: 55px;
  font-size: 30px;
  line-height: 36px;
  font-weight: normal;
}

.about__list-button {
  padding-top: 50px;
}

.about__list-button a {
  padding-left: 40px;
  padding-right: 40px;
}

.help__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 70px;
  list-style: none;
  padding-left: 0;
}

.help__list-button {
  position: relative;
  margin-top: 35px;
}

.help__list-button a {
  padding-left: 30px;
  padding-right: 30px;
}

.help__list-button::before {
  position: absolute;
  content: '';
  width: 250px;
  height: 250px;
  left: 4px;
  top: -102px;
  background-color: transparent;
  border: 1px solid #ffd4c0;
  transform: rotate(45deg);
}

.help__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
  width: 28%;
}

.help__item p {
  width: 88%;
}

.calculator {
  background: url("../img/calculator/bg.png") center no-repeat;
  background-size: 1920px auto;
  min-height: 2290px;
}

.calculator__title {
  padding-top: 130px;
}

.calculator__subtitle {
  margin-top: 20px;
  margin-bottom: 60px;
  font-size: 30px;
  line-height: 40px;
  font-weight: normal;
}

.calculator__slider {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 30px;
  font-size: 40px;
  font-weight: 900;
}

.calculator__slider-wrapper {
  position: relative;
  margin-bottom: 50px;
  width: 1080px;
  height: 212px;
}

.calculator__slider-wrapper::before {
  position: absolute;
  content: '';
  background: url("../img/calculator/lines.png") center no-repeat;
  width: 430px;
  height: 212px;
  left: -430px;
  top: 0;
}

.calculator__slider-wrapper::after {
  position: absolute;
  content: '';
  background: url("../img/calculator/lines-r.png") center no-repeat;
  width: 430px;
  height: 212px;
  right: -430px;
  top: 0;
}

.calculator__slider-wrapper p {
  width: 235px;
  margin-bottom: 0;
  padding-left: 40px;
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
}

.calculator__slider-item {
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 72px;
  height: 72px;
}

.calculator__slider-item:hover::before,
.calculator__slider-item:hover::after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border: 11px solid transparent;
}

.calculator__slider-item:hover::before {
  top: -6px;
  left: 24px;
  border-top-color: #343434;
  border-bottom: 0;
}

.calculator__slider-item:hover::after {
  bottom: -5px;
  left: 24px;
  border-bottom-color: #343434;
  border-top: 0;
}

.calculator__item--active {
  background-image: linear-gradient(90deg, #ff5858, #f09819);
  border-radius: 18px;
  color: #fff;
}

.calculator__table {
  display: flex;
}

.calculator__table li {
  height: 100px;
}

.calculator__table h4 {
  margin: 0;
  font-size: 28px;
  line-height: 32px;
  font-weight: 800;
}

.calculator__table h5 {
  display: inline;
  margin: 0;
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
}

.calculator__table-names {
  padding-top: 25px;
  padding-bottom: 25px;
  width: 435px;
}

.calculator__table-names li {
  display: flex;
  align-items: center;
}

.calculator__table-tarif {
  width: 175px;
  padding: 25px;
  border: 1px solid transparent;
}

.calculator__table-tarif:hover {
  border: 1px solid #ddd3c3;
  border-radius: 18px;
}

.calculator__table-tarif li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.calculator__table-tarif p {
  margin-top: 6px;
  margin-bottom: 40px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
}

.calculator__table-header {
  justify-content: flex-start !important;
  align-items: flex-start !important;
  height: 110px !important;
  margin-bottom: 20px;
}

.calculator__button {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  margin-top: 46px;
  width: 400px;
  border-radius: 18px;
  font-size: 15px;
  line-height: 20px;
  text-transform: none;
  font-weight: 500;
}

.calculator__button-wrapper {
  min-height: 280px;
}

.calculator__button p {
  margin: 0;
}

.calculator__button-sign {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 25px;
  margin-left: 10px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  font-size: 38px;
  background-color: #fff;
  color: #ff5858;
}

.calculator__button--active {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  margin-top: 46px;
  margin-right: -30px;
  background-color: #343434;
  width: 450px;
  border-radius: 18px;
  font-size: 15px;
  line-height: 20px;
  text-transform: none;
  font-weight: 500;
  color: #fff;
}

.calculator__button--active p {
  margin: 0;
}

.calculator__extra {
  display: flex;
  margin-top: 46px;
  padding: 0 60px;
  width: 686px;
  background-color: #343434;
  border-radius: 18px;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
}

.calculator__extra-wrapper {
  display: flex;
  align-items: flex-start;
}

.calculator__extra-name {
  padding-right: 60px;
  width: 400px;
}

.calculator__extra-price {
  width: 130px;
}

.calculator__extra li {
  height: 35px;
}

.calculator__result {
  width: 750px;
  margin: 0 auto;
}

.calculator__result h4 {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 32px;
  font-weight: 800;
}

.calculator__result-wrapper {
  display: flex;
}

.calculator__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 35px;
  width: 310px;
}

.calculator__form input {
  margin-bottom: 6px;
  padding: 13px 25px;
  width: 250px;
  font-size: 18px;
  line-height: 20px;
  color: #343434;
  border: 1px solid #ff5858;
  border-radius: 5px;
}

.calculator__form input::placeholder {
  font-size: 14px;
  font-style: italic;
}

.calculator__form-button {
  margin-top: 30px;
  border: none;
}

.calculator__discount {
  display: flex;
  width: 400px;
}

.calculator__discount-slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 56px;
  margin-left: 30px;
  padding-right: 90px;
  padding-left: 26px;
  width: 90px;
  font-size: 40px;
  line-height: 44px;
  font-weight: 800;
}

.calculator__discount-slider::before {
  position: absolute;
  content: '';
  width: 130px;
  height: 130px;
  top: -44px;
  left: 0;
  border: 1px solid #f09819;
  transform: rotate(45deg);
}

.calculator__discount-text h5 {
  margin-bottom: 0;
  width: 150px;
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;
}

.owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  content: '';
  top: -2px;
  left: -31px;
  width: 29px;
  height: 48px;
  background: url("../img/calculator/left.png") center no-repeat;
}

.owl-carousel .owl-nav button.owl-next {
  position: absolute;
  top: -2px;
  right: 41px;
  width: 29px;
  height: 48px;
  background: url("../img/calculator/right.png") center no-repeat;
}